.cart-slider-wrapper {
  width: 160px;
  height: 180px;
  display: flex;
}
.colors-wrapper.active {
  filter: drop-shadow(black 0px 0px 1px);
}
.cart-slider-wrapper img,
.cart-item-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cart-item-img {
  margin-left: 20px;
  width: 100px;
  height: 100%;
}
.total-amount {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  margin: 10px 0;
}

.buttons {
  margin: 20px;
  display: flex;
}
.menu-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.view-bag,
.checkout {
  opacity: 1;
  width: 140px;
  height: 43px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.checkout.disabled {
  opacity: 0.5;
}
.view-bag {
  background: white;
  border: 1px solid black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-bag a {
  margin: 0 !important;
}
.checkout {
  border: none;
  color: white;
  background: #5ece7b;
  margin-left: 20px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dbdbdb;
  padding: 2% 0;
}
.cart-slider-wrapper {
  position: relative;
  margin-left: 20px;
  width: 160px;
  height: 100%;
}
.cart-icon {
  position: relative;
  cursor: pointer;
}
.cart-slider-wrapper button {
  position: absolute;
  top: 50%;
  left: 10px;
  background: none;
  border: none;
  filter: drop-shadow(2px 4px 6px black);
  color: white;
  font-size: 28px;
  cursor: pointer;
}
.cart-slider-wrapper button:last-child {
  right: 10px;
  left: unset;
}
.cart-icon img {
  margin-top: 2px;
}
.menu-item-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.menu-icons {
  position: relative;
}
.cart {
  margin: 1px 0 0 20px;
}
.cart-menu {
  position: absolute;
  right: 0;
  top: 46px;
  box-shadow: 0px 0px 5px 1px #ffffff6e;
  background: white;
  padding: 7px;
  display: flex;
  flex-direction: column;
  z-index: 11;
  max-height: 80vh;
  overflow-y: scroll;
}
.page-quantity,
.menu-quantity {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}
.menu-quantity button,
.page-quantity button {
  background: white;
  border: 1px solid #1d1f22;
  cursor: pointer;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-quantity button {
  width: 45px;
  height: 45px;
}
.menu-quantity button {
  width: 24px;
  height: 24px;
}

.attribute {
  margin-top: 7%;
}

.right,
.right-menu-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.right.op-wrapper {
  height: 140px;
}

.left h3 {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 1% 0px;
}
.left h4 {
  font-size: 20px;
  font-weight: revert;
  font-family: "Raleway", sans-serif;
  margin-bottom: 7%;
}
.left.menu-item h3,
.left.menu-item h4 {
  font-size: 15px;
}
.right-menu-item .op-wrapper {
  height: 140px;
}
.op-wrapper {
  display: flex;
}
.trash-icon {
  width: 20px;
  width: 20px;
  margin-top: 8px;
  cursor: pointer;
  transition: 0.1s;
  opacity: 0;
}
.cart-item:hover .trash-icon,
.menu-item-wrapper:hover .trash-icon {
  opacity: 1;
}
.cart-backdrop {
  display: none;
  position: fixed;
  backdrop-filter: brightness(0.7);
  width: 100%;
  height: 100vh;
  left: 0;
  top: 85px;
  z-index: 10;
}
.cart-backdrop.show {
  display: block;
}
.icon-quantity {
  background: black;
  color: white;
  border-radius: 50%;
  padding: 0px 4px;
  font-size: 13px;
  position: absolute;
  left: 12px;
  bottom: 16px;
  font-family: "Roboto Condensed", sans-serif;
}
