.product-wrapper {
  display: flex;
  margin-top: 4%;
}
.product-list li {
  height: min-content;
  padding: 2%;
  transition: 0.2s;
}
.product-list li:hover {
  box-shadow: 0px 0px 5px 0px #00000059;
}
.product-list li:hover .add-to-cart {
  opacity: 1;
}
.product-list li:hover .attributes.menu {
  height: 80px;
}
.product-image {
  position: relative;
  width: 100%;
  height: 300px;
}
.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-box h3 {
  margin: 5% 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.product-box {
  position: relative;
  height: 100%;
}
.add-to-cart {
  opacity: 0;
  width: 39px;
  height: 40px;
  background: #57e281;
  padding: 9px;
  border-radius: 50%;
  display: flex;
  top: 315px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  transition: 0.1s;
  border: none;
}
.out-stock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(2px 4px 4px white);
  padding: 3%;
  color: black;
}
.errors {
  color: #fb3b3b;
}
.errors,
.success {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/* .products description  */
.description h3,
.description h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.description h3 {
  font-size: 30px;
}
.description-text p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}
.image-collection {
  width: 200px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}
.image-collection div {
  margin-bottom: 5px;
  cursor: pointer;
}
.slider {
  display: flex;
  max-height: 600px;
}
.image-collection img {
  width: 100%;
  height: 100%;
}
.dispay-image {
  margin: 0 5%;
}
.dispay-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.success {
  color: #57e281;
}
.message {
  margin: 10px 0;
}
