html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
#root {
  max-width: 1440px;
  margin: auto;
  padding: 0 3% 20px 3%;
}
.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.page-title {
  font-size: 37px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 4% 0px;
}
em {
  margin: 20px 0;
}
a {
  font-family: "Raleway", sans-serif;

  color: #7b7b7b;
  font-weight: 600;
}

/* header  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
}
header a {
  margin-right: 20px;
  text-transform: uppercase;
}

/* cart  */
.menu-icons {
  position: relative;
}
.cart {
  margin: 1px 0 0 20px;
}
.cart-menu {
  position: absolute;
  right: 0;
  top: 46px;
  box-shadow: 0px 0px 5px 1px #ffffff6e;
  background: white;
  padding: 7px;
  display: flex;
  flex-direction: column;
  z-index: 11;
  max-height: 80vh;
  overflow-y: scroll;
}
.cart-backdrop {
  position: fixed;
  backdrop-filter: brightness(0.7);
  width: 100%;
  height: 100vh;
  left: 0;
  top: 85px;
  z-index: 10;
}
.item-wrapper {
  display: flex;
}
.menu-item-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
}
.menu-item-wrapper .attribute span {
  font-size: 11px !important;
}
.img-wrapper {
  width: 105px;
  height: 100%;
  object-fit: cover;
  margin-left: 15px;
}
.attribute h5 {
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 10px;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.display-value.menu {
  width: 24px !important;
  height: 24px !important;
  margin-right: 10px;
}
.page-quantity,
.menu-quantity {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}
.menu-quantity button,
.page-quantity button {
  background: white;
  border: 1px solid #1d1f22;
  cursor: pointer;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-quantity button {
  width: 45px;
  height: 45px;
}
.menu-quantity button {
  width: 24px;
  height: 24px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dbdbdb;
  padding: 2% 0;
}
.cart-slider-wrapper {
  position: relative;
  margin-left: 20px;
  width: 160px;
  height: 100%;
}
.cart-icon {
  cursor: pointer;
}
.cart-slider-wrapper button {
  position: absolute;
  top: 50%;
  right: 10px;
  background: none;
  border: none;
  filter: drop-shadow(2px 4px 6px black);
  color: white;
  font-size: 28px;
  cursor: pointer;
}
.attribute {
  margin-top: 7%;
}
.cart-slider-wrapper button:nth-child(1) {
  left: 10px;
  right: unset;
}
.right {
  display: flex;
  height: 180px;
}

.left h3 {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 1% 0px;
}
.left h4 {
  font-size: 20px;
  font-weight: revert;
  font-family: "Raleway", sans-serif;
  margin-bottom: 7%;
}
.left.menu-item h3,
.left.menu-item h4 {
  font-size: 15px;
}
.right-menu-item {
  display: flex;
  height: 110px;
}

/* products */
.product-list {
  display: grid;
  grid: space-between;
  grid-template-columns: 32% 32% 32%;
  grid-row-gap: 3%;
  grid-column-gap: 2%;
  margin-top: 4%;
}
.product-wrapper {
  display: flex;
  margin-top: 4%;
}
.product-list li {
  height: min-content;
  padding: 2%;
  transition: 0.2s;
}
.product-list li:hover {
  box-shadow: 0px 0px 5px 0px #00000059;
}
.product-list li:hover .add-to-cart {
  opacity: 1;
}
.product-category {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 42px;
  font-weight: 600;
  text-transform: capitalize;
}
.product-image {
  position: relative;
  width: 100%;
  height: 300px;
}
.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-box h3 {
  margin: 5% 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.product-box {
  position: relative;
  height: 100%;
}
.add-to-cart {
  opacity: 0;
  width: 39px;
  height: 40px;
  background: #57e281;
  padding: 9px;
  border-radius: 50%;
  display: flex;
  top: 315px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  transition: 0.1s;
  border: none;
}
.out-stock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(2px 4px 4px white);
  padding: 3%;
  color: black;
}
.errors {
  margin: 20px 0;
  color: #fb3b3b;
  font-size: 19px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/* .products description  */
.description h3,
.description h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.description h3 {
  font-size: 30px;
}
.description-text p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}
.image-collection {
  width: 200px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}
.image-collection div {
  margin-bottom: 5px;
  cursor: pointer;
}
.slider {
  display: flex;
  max-height: 600px;
}
.image-collection img {
  width: 100%;
  height: 100%;
}
.dispay-image {
  margin: 0 5%;
}
.dispay-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* currency  */
.currency-list {
  position: absolute;
  top: 35px;
  right: 0;
  box-shadow: 0px 0px 5px 1px #a6a6a6;
  background: white;
  padding: 7px 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: max-content;
}
.currency,
.currency-list div {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.currency-list div {
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.1s;
  font-size: 15px;
}
.currency {
  margin-right: 10px;
  width: 30px;
}
.currency-list div:hover {
  background: #949494;
}
.currency-label {
  margin-left: 5px;
}
.description-text {
  margin-top: 40px;
}

/* attributes  */
.attribute h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.attribute.menu h4 {
  font-size: 15px;
  margin: 5px 0;
}
.display-value {
  padding: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 2px;
  margin-right: 20px;
  width: 60px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  transition: 0.1s;
}
.display-price {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
}
.display-value:hover {
  filter: brightness(0.5);
}
.colored-box {
  width: 62px;
  height: 41px;
  border-radius: 9px;
  border: none;
  box-shadow: 0px 0px 7px 0px #2e2e2e8a;
}
.colors-wrapper {
  display: flex;
  flex-direction: column;
}
.colors-wrapper div:nth-child(1) {
  margin-bottom: 5px;
}
.add-button {
  background: #5ece7b;
  width: 300px;
  height: 50px;
  border: none;
  font-size: 16px;
  color: white;
  margin-top: 30px;
  cursor: pointer;
}
