/* ======general styles==== */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
/* ==scrollbar== */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#root {
  max-width: 1440px;
  margin: auto;
  padding: 0 3% 20px 3%;
}
.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.page-title {
  font-size: 37px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 4% 0px;
}
em {
  margin: 20px 0;
}
a {
  font-family: "Raleway", sans-serif;

  color: #7b7b7b;
  font-weight: 600;
}

/* header  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
}
header a {
  margin-right: 20px;
  text-transform: uppercase;
}

.item-wrapper {
  display: flex;
}

.menu-item-wrapper .attribute span {
  font-size: 11px !important;
}
.img-wrapper {
  width: 105px;
  height: 100%;
  object-fit: cover;
  margin-left: 15px;
}
.attribute h5 {
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 10px;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.display-value.menu {
  width: 24px !important;
  height: 24px !important;
  margin-right: 10px;
}

/* products */
.product-list {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-row-gap: 50px;
  grid-column-gap: 2%;
  margin-top: 4%;
}
.product-category {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 42px;
  font-weight: 600;
  text-transform: capitalize;
}

/* currency  */
.currency-list {
  position: absolute;
  top: 35px;
  right: 0;
  box-shadow: 0px 0px 5px 1px #a6a6a6;
  background: white;
  padding: 7px 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: max-content;
}
.currency,
.currency-list div {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.currency-list div {
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.1s;
  font-size: 15px;
}
.currency {
  margin-right: 10px;
  width: 30px;
}
.currency-list div:hover {
  background: #949494;
}
.currency-label {
  margin-left: 5px;
}
.description-text {
  margin-top: 40px;
}
.description {
  overflow-y: hidden;
}

/* attributes  */
.attributes.menu {
  height: 0px;
  transition: 0.5s;
  max-height: 100px;
  overflow-y: scroll;
}
.price h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.attribute.menu h4 {
  font-size: 15px;
  margin: 5px 0;
}
.attributes.menu .attribute {
  margin-top: 10px;
}
.display-value {
  padding: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 2px;
  margin-right: 20px;
  width: 60px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  transition: 0.1s;
}
.display-price {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
}
.display-value:hover {
  filter: brightness(0.5);
}
.colored-box {
  width: 62px;
  height: 41px;
  border-radius: 9px;
  border: none;
  box-shadow: 0px 0px 7px 0px #2e2e2e8a;
}
.colors-wrapper {
  display: flex;
  flex-direction: column;
}
.colors-wrapper div:nth-child(1) {
  margin-bottom: 5px;
}
.add-button {
  background: #5ece7b;
  width: 300px;
  height: 50px;
  border: none;
  font-size: 16px;
  color: white;
  margin-top: 30px;
  cursor: pointer;
}
